body {
    text-decoration: none;
    background-image: linear-gradient(to right,#FCEFCB,#FAD59A);
    justify-content: center;
    position: relative;
}
.img {
    width: 40%;
    border-radius: 25px;
    text-align: center;
}

a {
    text-decoration: none;
    text-align: center;
}