body {
    text-decoration: none;
    justify-content: center;
    position: relative;
}
.img {
    width: 40%;
    border-radius: 25px;
    text-align: center;
}

a {
    text-decoration: none;
    text-align: center;
}

.category_h1{
    text-align: center;
    color: aqua;
    size: 60px;
}